<div class="jumbotron">
  <h1 class="display-4">Alpha Blog!</h1>
  <p class="lead">This is a simple bloging site.</p>
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="#" role="button">Signup</a>
</div>